@mixin flex($content:center){
    display:flex;
    justify-content: $content;
    align-items: center;
}  

@mixin position($content:absolute) {
    position: $content;
    top:0;
    left: 0;
}

@mixin list-style {
    list-style: none;
    display: inline-block;
}

@mixin wh {
    height: 100%;
    width: 100%;
}

@mixin  pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin  background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}